.hover-color-gg:hover {
  background-color: #F8F9FA;
  cursor: pointer;
}

.questionnaire-name-font {
  font-weight: bold;
  color: #E9ECEF;
}

.answer-bg-gg {
  background-color: #F8F9FA;
  font-weight: bold;
}