<div class="jumbotron col-sm-6 offset-sm-3">
    <h1 class="display-2">About us</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sit amet ante viverra, pretium urna eu, ullamcorper diam. Fusce placerat dapibus turpis id scelerisque. Suspendisse odio urna, pharetra ut vestibulum in, pharetra et arcu. Donec elementum enim nibh, at sollicitudin massa dictum eu. Ut pretium imperdiet orci sed varius. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id nisi felis. Quisque rhoncus, est vitae mattis posuere, mi arcu bibendum tellus, vulputate maximus odio sem mattis lorem. Suspendisse potenti. Integer non metus purus. Praesent eget metus pellentesque elit sodales lobortis.

        Etiam sodales elit faucibus, pellentesque risus in, vehicula diam. Suspendisse maximus risus non vestibulum molestie. Sed suscipit odio et nibh faucibus, vel posuere risus vulputate. Donec laoreet suscipit nunc eget molestie. Vestibulum vel ex elementum, egestas mi ac, gravida sapien. Donec ut venenatis quam. Maecenas sed euismod elit.</p>
  </div>
