<br>
<div class="text-center bg-light pb-4">
  <button type="button" class="btn btn-success">New Questionnaire</button>
  <button type="button" class="btn btn-info">Edit Questionnaire</button>
  <button type="button" class="btn btn-danger">Delete Questionnaire</button>
  <span class="divider-gg">|</span>
  <button type="button" class="btn btn-success">New Question</button>
  <button type="button" class="btn btn-info">Update Question</button>
  <button type="button" class="btn btn-danger">Delete Question</button>
</div>
<br>


<!-- QuestionnaireName: text,
     form grupe, niz, lista:
    [question 
    answer type]
    + -->

<form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()">
  <div class="text-grey bg-light list-group mb-2 row col-sm-6 offset-sm-3 text-center">
    <label>Questionnaire Name:</label>
    <div class="row justify-content-center">
      <input type="text" formControlName="title" class="form-control" placeholder="Questionnaire Name">
      <button type="button" class="btn btn-danger btn-plus-gg" (click)="plus()">+</button>
    </div>
    <br>
    <div formArrayName="questions">
      <div class="row justify-content-center" *ngFor="let questionCtrl of questionnaireForm.get('questions').controls; let i = index"
        [formGroupName]="i">
        <textarea type="text" formControlName="question" class="form-control" rows="3" placeholder="Question Text"></textarea>
        <br>
        <select class="form-control row justify-content-center my-4" formControlName="answerType">
          <option value="0">Text</option>
          <option value="1">Single Choice</option>
          <option value="2">Multiple Choice</option>
        </select>
        <div formArrayName="choices" *ngIf="questionCtrl.get('answerType').value != 0">
          <div *ngFor="let choiceControl of questionCtrl.get('choices').controls; let j = index" [formGroupName]="j">
            <input type="text" formControlName="choiceText" class="form-control" placeholder="Enter choice"> {{ choiceControl.get("choiceText").value }}
          </div>
          <button type="button" class="btn btn-danger btn-plus-gg" (click)="plusChoice(questionCtrl)">+</button>
        </div>

      </div>
    </div>
    <button type="submit" class="btn btn-danger btn-width-gg">Submit Your Answers</button>
  </div>
</form>